  <head>
    <link rel="stylesheet" href="static/styles.css" />
    {% include "header.html" %}
    <div class="page_heading">
      {% if msg_sent: %}
      <h1>Successfully sent your message</h1>
      {% else: %}
      <h1>Contact Me</h1>
      {% endif %}
    </div>
  </head>
    <h2 class="form_header">Reach me by email using the form below</h2>
    <div class="get_email">
      <form
        class="ContactForm"
        action="{{ url_for('contact')}}"
        method="POST"
        novalidate
      >
        {{ form.csrf_token }}
        <p>
          {{ form.name.label }} <br />
          {{ form.name(size=30) }}
          <span style="color: red">{{ err }}</span>
        </p>
        <p>
          {{ form.email.label }} <br />
          {{ form.email(size=30) }} {% for err in form.email.errors %}
          <span style="color: red">{{ err }}</span>
          {% endfor %}
        </p>
        <p>
          {{ form.message.label}} <br />
          {{ form.message(size=30) }} {% for err in form.message.errors %}
          <span style="color: red">{{ err }}</span>
          {% endfor %}
        </p>
        {{ form.submit }}
      </form>
    </div>
    <!-- {% include "footer.html" %} -->

  </body>
</html>
