{% include "boiler_plate.html" %}
  <body>
    {% include "header.html" %}
    <div class="banner">
      <img class="banner-image" src="" />
    </div>
    <div class="grid-wrapper">
      <div class="box-zone">
        <img src="static/monitor_settings_2.png" alt="" />
      </div>
      <div class="box-zone">
        <img src="static/monitor_settings_2.png" alt="" />
      </div>
      <div class="box-zone">
        <img src="static/monitor_settings_2.png" alt="" />
      </div>
      <div class="box-zone">
        <img src="static/monitor_settings_2.png" alt="" />
      </div>
      <div class="box-zone">
        <img src="static/monitor_settings_2.png" alt="" />
      </div>
      <div class="box-zone">
        <img src="static/monitor_settings_2.png" alt="" />
      </div>
    </div>
    {% include "footer.html" %}
  </body>
</html>
