<div class="grid-wrapper">
  <div class="box-zone">
    <img src="static/monitor_settings_2.png" alt="" />
  </div>
  <div class="box-zone">
    <img src="static/monitor_settings_2.png" alt="" />
  </div>
  <div class="box-zone">
    <img src="static/monitor_settings_2.png" alt="" />
  </div>
  <div class="box-zone">
    <img src="static/monitor_settings_2.png" alt="" />
  </div>
  <div class="box-zone">
    <img src="static/monitor_settings_2.png" alt="" />
  </div>
  <div class="box-zone">
    <img src="static/monitor_settings_2.png" alt="" />
  </div>
</div>
